{% extends data.outerLayout %}

{% block startHead %}
  {# Shut off "compatibility view" in IE for modern browser compatibility, #}
  {# even when the browser is configured to emulate IE8. -Tom #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% endblock %}

{% block extraHead %}
  {{ super() }}
  {# include externals here (google fonts, etc) #}
{% endblock %}

{% block beforeMain %}
  <header class="container container--main">
    HEADER
  </header>
  <main class="container container--main">
{% endblock %}



{% block afterMain %}
  </main>
  <footer class="container container--main">
    <p>Emergency contact information: GLOBAL_NUMBER</p>
    
  </footer>
{% endblock %}

{# At the END of the DOM so it can easily remove everything else #}
{% block extraBody %}
  {{ apos.browserRequirements.message() }}
{% endblock %}
